[submodule "include/cql"]
	path = include/cql
	url = https://github.com/LAK132/cql
	ignore = dirty
[submodule "include/lisk"]
	path = include/lisk
	url = https://github.com/LAK132/lisk
	ignore = dirty
