[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/LAK132/ImSoft.git
[submodule "include/cql"]
	path = include/cql
	url = https://github.com/LAK132/cql
[submodule "glm"]
	path = include/glm
	url = https://github.com/g-truc/glm
[submodule "include/lisk"]
	path = include/lisk
	url = https://github.com/LAK132/lisk
[submodule "include/lak"]
	path = include/lak
	url = https://github.com/LAK132/lak
